.header {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 15px;
    font-weight: 600;
    font-size: 20px;
}

.headerMain {
    display: flex;
    margin-left: 50px;
}

.mainLogo {
    height: 25px;
    padding-right: 10px;
}

.LoginBtn {
    background-color: white;
    color: gray;
    font-size: 12px;
    padding: 5px;
    margin-right: 50px;
    border-radius: 30px;
    border: solid;
    border-color: black;
    cursor: pointer;
}
