.header {
  background-color: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 15px;
  font-weight: 600;
  font-size: 20px;
}

.mainLogo {
  height: 25px;
  padding-right: 10px;
}

.LoginBtn {
  background-color: white;
  color: gray;
  font-size: 12px;
  padding: 5px;
  margin-left: auto;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: black;
  cursor: pointer;
}
