* {
    padding: 0;
    margin: 0;
}

.MV1 video {
    top: -50px;
    width: 100%;
    z-index: -1;
}

.MV1 .mainbg {
    width: 100%;
    margin-top: -50px;
    z-index: -1;
}

/* 구직자 카드 영역 */
.ffpCard {
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
}
