* {
    padding: 0;
    margin: 0;
}
/* 메인 비디오 영역 */
.MainSec1 {
    overflow: hidden;
    max-height: 1550px;
}

.MainSec1 video {
    top: -500px;
    width: 100%;
    z-index: -1;
}

/* 구직자 카드 영역 */
.MainSec2 {
    margin-top: 100px;
    height: 700px;
    text-align: center;
}


.MainSec2 > h2 {
    font-weight: 600;
    margin-bottom: 50px;
    border: 3px solid black;
    box-shadow: 3px 3px 5px gray;
    display: inline-block;
    padding: 20px 50px;
    border-radius: 30px;
}



.MainSec3 .mainbg {
    width: 100%;
    margin-top: -50px;
    z-index: -1;
}

